body{
    margin: 0;
}
.landing_up{
    width: 100%;
    height: 550px;
    background-image: url("../img/landing_up.png");
    background-size: 100% 100%;
}
.landing_footer{
    background-image: url("../img/landing_down.png");
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
}
.landingmark{
    width:56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.markname{
    display: flex;
    width: 100%;
}
.mknm{
    color: white;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.mknm1{
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: thin;
}
.mknm2{
    color: white;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.btn{
    width: 175px;
    height: 38px;
    border-radius: 26px;
    text-decoration: none;
}
.bt-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.btimg1{
    width: 16px;
    height: 16px;
}
.btimg2{
    width: 14px;
    height: 14px;
}
.firstbt{
    background-color: rgb(1, 168, 76);
}
.secondbt{
    background-color:white;
}
.bttxt1{
    font-size: 10px;
    color: white;
}
.bttxt2{
    font-size: 10px;
    color: rgb(144, 3, 209);
}
.play{
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
    width: 70px;
    height: 70px;
    background-color:rgb(144, 3, 209) ;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
.playpng{
    width: 22px;
    height: 22px;
    margin-top: 14px;
    clear: both;
}
.playtext{
    color: white;
    font-size: 8px;
    text-decoration: none;
}
.txtdiv{
    margin-top: -3px;
}

.glassimg{
    width: 350px;
    height: 400px;
    margin-left: 10%;
    float: left;
}

.tt1{
    font-size: 26px;
    color:rgb(144, 3, 209) ;
    font-weight: 100;
}
.tt2{
    font-size: 26px;
    color: rgb(144, 3, 209);
    font-weight: bold;    
}
.intro{
    text-align: justify;
}
.product{
    margin-top: 30PX;
    margin-bottom: 60px;
}

.btnthird{
    width: 175px;
    height: 34px;
    border-radius: 26px;
    text-decoration: none;
    background-color: rgb(1, 168, 76);
}
.detail{
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.prpng1{
    width: 80%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prpng2{
    width: 60%;
    display: block;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}
.prpng3{
    width: 30%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prpng4{
    width: 80%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prc{
    float: left;
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin-right: -15px;
    background-color: white;
    box-shadow: 0px 1px px rgb(207, 207, 207);
}
.primg1{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
.primg2{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
.primg3{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
.prname > div:first-child {
    /* margin-top:50px; */
    /* margin-left:20px; */
    text-align: center;
    font-size: 14px;            
    color: blueviolet;
    width: 100%;
}
.prname > div:last-child {  
    text-align:justify!important;
    font-size:8px!important;
    /* margin-left:20px; */
    /* margin-right:20px; */
    padding:5px 20px 0 20px;
}

.prbottom{
    width: 100%;
    text-align: center;
}
.right_arr{
    width:25px;
    height:25px;
    margin-left: auto;
    margin-right: auto;
}
.bottommark{
    width:55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.contactmark{
    width:45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin-top: 30px;
}
.bt_title{
    text-align: center;
    color: white;
    margin-top: 15px;
}
.bot_right{
    float: right;
    margin-top: 20px;
}
.bot{
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 5px;
}

.topbar{
    width: 100%;
    height: 10px;
    margin-bottom: -18px;
    z-index: 1110;
}
.modal-content{
    border-radius: 0!important;
}
.close{
    color: white;
    opacity: 100%;
    margin-bottom: -10px;
}
.closebar{
    margin-bottom: -15px;
}
.lgtitle{
    width: 100%;
}
.loginpng{
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    display: block;
}

.modal-body{
    background-color: #ebebeb;
}
.clearfix{
    margin-top: 20px;
    text-align: center;
}
.float-right{
    color: black;
}
.btn-login{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    background-color:rgb(1, 168, 76) ;
    color: white;
    font-size: 18px;
    height: 50px;
    padding-top: 13px;
}
.or{
    color: #ACACAC;
}
.btn-google{
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
    background-color: white;    
    color: black;
    font-size: 18px;
    height: 50px;
    padding-top: 13px;
    margin-bottom: 30px;
}
.ggl{
    width: 26px;
    height: 26px;
}
.letter{
    position: absolute;
    right:65px ;
    top: 5px;
    width:55px;
    height: 55px;
}
.letter1{
    position: absolute;
    right:73px ;
    top: 10px;
    width:26px;
    height: 26px;
}
.smkey{
    position: absolute;
    right:59px ;
    top:0;
    width:55px;
    height: 55px;

}
.signuppng{
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: block;
}
.checksign{
    margin-left:58px;
    color: black;
    font-size: 16px;
}
.chword{
    color: black;
    text-decoration: none;
}
.contact{
    width: 100%;
    background-image: url("../img/Contactus.png");
    height: 1200px;
    background-size: 100% 100%;
}
.topmenu{
    cursor: pointer;
    margin-top: 45px;
    text-decoration: none;
    color: white;
}
.topmenu:hover{
    color: rgb(224, 250, 221);
    text-decoration: none;
}
.menubar{
    display: flex;
    justify-content: space-between;
}
.contactustitle{
    color: white;
    margin-top: 70px;
    text-align: center;
}
.center{
    text-align: center;
}
.lorem{
    text-align: center;
    margin-top: 40px;
}
.firstinput1{
    width: 100%;
    height: 55px;
    float: left;
    border: 2px solid rgb(226, 226, 226);
    
}
.firstinput2{
    width: 100%;
    height: 55px;
    float: right;
    border: 2px solid rgb(226, 226, 226);
}
textarea:focus,input:focus{
    outline: none;
}


.SUBBTN{
    width: 250px!important;
    height: 55px!important;
    padding-top: 14px;
}
.bttxt3{
    font-size: 20px;
    color: white;
}

.divbtn {
    height: 50px;
    background-color: white;
    border:1px solid rgb(235, 235, 235) ;
    /* margin-top: 30px; */
    box-shadow: 0 3px 4px 0 rgb(201, 201, 201);
    cursor: pointer;
}
.mapmarkerpart {
    color: blueviolet;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
}
.showpanel {
    padding: 10px 5px;
}
.panfont {
    text-align: justify;
    color: black;
    padding-bottom: 4px;
}
.arrdown{
    width: 26px;
    height: 26px;
    margin-top: 12px;
}
.arrup{
    width: 26px;
    height: 26px;
    margin-top: 12px;
}
.arrowpart{
    float: right;
}
.pandiv {
    
    background: white;
    box-shadow: 0 3px 4px 0 rgb(201, 201, 201);
}
.faq{
    width: 100%;
    background-image: url("../img/Contactus_up.png");
    height: 200px;
    background-size: 100% 100%;
}
.footer{
    width: 100%;
    background-image: url("../img/landing_down.png");
    height: 200px;
    background-size: 100% 100%;
}
.form-group{
    margin-top: 10px!important;
    /* margin-bottom: 20px!important; */
}


.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.txtarea{
    width: 100%;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    
}
textarea:focus {
    outline: none !important;
    border:1px solid rgb(151, 191, 224);
    box-shadow: 0 0 10px #71b8ce;
}


input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

